<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <head th:replace="parts/header :: header"/>
    <title>Spring Security Example </title>
</head>
<body>
<div class="mx-3">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div class="form-floating my-3">
            <input class="form-control my-auto" style="width: 600px;" type="text" id="name" placeholder="Login" name="username"/> <!--th:field="*{name}"-->
            <label for="name">Login</label>
        </div>
        <div class="form-floating my-3">
            <input class="form-control my-auto" style="width: 600px;" type="text" id="password" placeholder="Password" name="password"/> <!--th:field="*{password}"-->
            <label class="form-label my-auto" for="password">Password</label>
        </div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
    <a href="/users/newUser">Add new user</a>
    <div th:insert="/parts/footer::footer"/>
</div>
</body>
</html>